@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Quicksand:wght@300;400&display=swap');

:root {
  --vertical-space: 2rem;
  --horizontal-space: 3rem;

  --light-color: #404040;
  --body-color:white;
  --heading-color: lightseagreen;
  --subheading-color: #c91163;
  --contrast-color: rgb(101, 255, 168);
  --tertiary-color: rgb(208, 239, 127);
}

body {
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Sans-Serif', sans-serif;
  background-image: linear-gradient(90deg, rgb(33,33,33) 0%,transparent 59%),repeating-linear-gradient(45deg, rgba(168, 168, 168,0.1) 0px, rgba(168, 168, 168,0.1) 1px,transparent 1px, transparent 13px),repeating-linear-gradient(135deg, rgba(168, 168, 168,0.1) 0px, rgba(168, 168, 168,0.1) 1px,transparent 1px, transparent 13px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));    
  background-color: #1c1c1c;
}

h1, h2, h3 {
  line-height: 1.2;
  font-family: 'Times New Roman', cursive;
}
h1, dl, ul{
    color: var(--body-color);
}
h2 {
  color: var(--heading-color);
}
h3, dt {
  color: var(--subheading-color);
}
dt {
    /* I wanted to add some further customization to my resume */
    /* I essentially wanted to treat it as h3 */
    font-family: 'Times New Roman', cursive;
    font-size: 1.17em;
    font-weight: bold;
}
footer {
    color: var(--tertiary-color);
}

a {
  color: var(--body-color);
  text-decoration-color: var(--contrast-color);
}


a:hover {
  color: var(--contrast-color);
}

p {
    color: var(--body-color);
}

body#about img {
  height: 20em;
  display: inline;
  margin-right: var(--horizontal-space);
  border: 2px solid var(--heading-color);
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 74%);
}

body#portfolio img{
    border: 2px solid var(--light-color);
}


@media screen and (min-width: 25em) {
  body#about img {
    float: left;
    margin-bottom: var(--vertical-space);
  }
}

body {
  display: grid;
  grid-template-areas: "head head"
                       "nav  nav"
                       "main  main"
                       "foot foot";
  grid-template-columns: auto 4fr;
  grid-template-rows: auto auto 1fr auto;
}

@media screen and (min-width: 25em) {
  body {
    grid-template-areas: "head nav"
                         "main  main"
                         "foot foot";
    grid-template-rows: auto 1fr auto;
  }

  body > nav {
    grid-area: nav;
    padding-top: var(--vertical-space);
  }

  body > nav ul {
    float: right;
  }
}

body > * {
  padding-left: var(--horizontal-space);
  padding-right: var(--horizontal-space);
}

body > header {
  grid-area: head;
}

body > nav {
  grid-area: nav;
}

body > main > *:first-child:before {
  content: "";
  border-top: 2px solid var(--heading-color);
  display: block;
  padding-top: var(--vertical-space);
}
body {
  max-width: 50em;
}

body > nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 2.4;
  float: right;
}

body > nav ul li {
  display: inline-block;
  padding-right: 1em;
}

body > main {
  grid-area: main;
}

body > footer {
  grid-area: foot;
}

header, footer {
  padding-top: var(--vertical-space);
  padding-bottom: var(--vertical-space);
}

header {
  padding-bottom: 0;
}

header h1, footer h1 {
  margin: 0;
}

body#portfolio ul#portfolioItems {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  list-style-type: none;
  padding: 0;
}

@media screen and (min-width: 25em) {
  body#portfolio ul#portfolioItems li {
    flex-basis: 48%;
    padding-right: 2%;
  }
}

body#portfolio ul#portfolioItems li img {
  max-width: 100%;
  margin-left: -0.66em;
}

#toTopBTN{
  color: white;
  background-color: hsla(0, 0%, 0%, 0.80);
  position: fixed;
  border: 3px solid var(--subheading-color);
  border-radius: 25%;
  bottom: 20px;
  right: 30px;
  font-weight: bold;
  font-size: x-large;
  padding: 10px;
}

